Thumbs.db
.gradle
*.iml
build
/_mystuff/
/build.log
.idea/
.DS_STORE
node_modules
bower_components/
js-built/
app.css

/js/
/styles/
/docs/
/examples/
Gruntfile.js
README.md
almond-begin.txt
almond-end.txt
bower.json
package.json