@import (less) "../lib/kendo-ui/styles/kendo.common.css";
@import (less) "../lib/kendo-ui/styles/kendo.default.css";
@import (less) "../lib/wingspan-forms/wingspan-forms.css";

body.sandbox {
  background: #fff;
  padding: 0 10px;
  overflow: auto;
}

.App {
  display: table;
  padding: 10px;
  > .facets {
    display: table-cell;
    width: 30%;
    padding: 10px;
  }
  > .KendoGrid {
    display: table-cell;
    width: 30%;
    padding: 10px;
  }
  > pre {
    display: table-cell;
    padding: 10px;
  }
}