/*
	this whole file should be removed once we identify where these selectors are used and remove or update them
*/

ul.checkList:not(#supported)
{
    margin-top: 0;
    margin-left: 0;
} /* where is the checklist used other than facet area? this css should be localized to that area if only used in 1 place */

ul.checkList:not(#supported) li
{
    clear: both;
    margin-bottom: 8px;
} /* again css should probably be localized to facet area */

.checkboxWrap {
	 float: left;
	 white-space: nowrap;
} /* this is a checkbox forced to 1 line, is this used anywhere? my guess would be in a dialog or popup */

#dwuiDialog {
    padding: 0;
} /* what is this dialog, can we simply have override class for padding 0 that we add to dialog rather than iD? */



  